.index {
  height: 100vh;
  overflow: hidden;
}
.camera-wrapp {
  height: 80%;
}
.camera-mask {
  height: 100%;
  .camera-mask-lr,
  .camera-mask-tb {
    height: 100%;
    background-color: rgba(50, 50, 50, 0.8);
  }
  .camera-mask-m {
    height: 100%;
    .camera-mask-tb {
      width: 100%;
      flex: 15;
    }
    .camera-view-box {
      flex: 70;
      width: 100%;
      position: relative;
    }
    .camera-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      .camera-btn-img {
        position: absolute;
        height: 100%;
      }
    }
  }
}

.side-bar {
  width: 100%;
  height: 20%;
  background-color: #f40;
}
.image-canvas {
  position: absolute;
}